{% extends "layout.html" %}

{% block head %}
  <link rel="stylesheet" href="../static/style.css" />
  <title>Plant Details</title>
{% endblock %}

{% block main %}
<!--
<div class="details">
    <h1>{{ data.common_name }}</h1>

    <img src="{{ data.default_image.thumbnail }}" alt="{{ data.common_name }}">

    <p>Scientific Name: {{ data.scientific_name }}</p>
    <p>Watering: {{ data.watering }}</p>
    <p>Sunlight: {{ data.sunlight }}</p>
    <p>Other Details: {{ data.other_details }}</p>

     Display disease information if available 
    {% if disease %}
      <h2>Disease Information</h2>
      <ul>
        {% for item in disease %}
          <li>{{ item.solution.description }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
  -->
  
  

  
  
</div>
{% endblock %}
