{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="../static/style.css" />
<title>Home</title>
{% endblock %}

{% block main %}
<div class="full-screen">

  <div class="full-screen-text">
    <h1 class="h11">Welcome to the Guardian</h1>
    <br>
    <br>
    <p class="full-t mt-4">Tailor your garden to perfection by effortlessly searching for specific plant species or
      fine-tuning your preferences through intuitive filtering.</p>
    <br>
    <button class="button5 mt-5"> <span>Button</span>
    </button>
  </div>
</div>

<div class="full">
  <div class="full-1">
    <div class="full-text">
      <h1 class="h111">See your Schedule</h1>

      <br> <br>
      <p class="full-t">
        Customize your personalized watering schedule by inputting your available water quantity, and receive an optimal
        plan tailored to your preferred duration. Achieve the perfect balance for your plants with a schedule designed
        just for you!
      </p>
      <br>
      <button class="button5"> <span>Button</span>
      </button>
    </div>
    <div class="img-2">

    </div>
  </div>
</div>

<div class="rain">
  <div class="full-screen-text">
    <h1 class="h666">Welcome to the Guardian</h1>
    <br>
    <br>
    <p class="full-t mt-4">Tailor your garden to perfection by effortlessly searching for specific plant species or
      fine-tuning your preferences through intuitive filtering.</p>
    <br>
    <button class="button5 mt-4"> <span>Button</span>
    </button>
  </div>
</div>

{% endblock %}