{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="../static/style.css" />
<title>Login</title>

{% endblock %}

{% block main %}
<style>
    body {
      background: url(../static/img/green\ background.jpg);
    }
</style>
<div class="login2">
    <div class="logg">
    <form class="form-control" action="/login" method="POST">
        <p class="title2">Login</p>
        <div class="input-field">
          <input required="" class="input" type="text" name="username"/>
          <label class="label" for="input">Enter Username</label>
        </div>
        <div class="input-field">
          <input required="" class="input" type="password" name = "password" />
          <label class="label" for="input">Enter Password</label>
        </div>
        <a>Forgot your password?</a>
        <button class="submit-btn2">Sign In</button>
      </form>
    </div>
</div>
{% endblock %}